<div *ngIf="typeNationalite">
    <h2><span >Nationalité</span> {{typeNationalite.libelleTypeNationalite}}</h2>
    <hr>
    <dl class="row-md jh-entity-details">
        <dt><span>ID: </span></dt>
        <dd>
            <span> {{typeNationalite.codeTypeNationalite}}
            </span>
        </dd>

        <!-- <dt><span>Libellé: </span> </dt>
        <dd>
            <span>{{typeNationalite.libelleTypeNationalite}}</span>
        </dd> -->

        <dt><span>Ordre: </span> </dt>  
        <dd>
            <span>{{typeNationalite.ordreTypeNationalite}}</span>
        </dd>
    </dl>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Retour </span>
    </button>
</div>