<form name="editForm" novalidate (ngSubmit)="save()" #editForm="ngForm" *ngIf="mode" >

    <div class="modal-header">
        <h4 class="modal-title" id="typeNationaliteLabel" >Créer un regroupement</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
    	<div class="form-group" [hidden]="!regroupement.codeRegroupement" >
    		<label> ID </label>
    		<input class="form-control" name="codeRegroupement" type="number"
    		[(ngModel)]="regroupement.codeRegroupement" readonly />
    	</div>
    	<div class="form-group">
            <label class="form-control-label">Libellé</label>
            <input type="text" class="form-control" name="libelleRegroupement"
                [(ngModel)]="regroupement.libelleRegroupement" />
        </div>
        <div class="form-group">
            <label class="form-control-label" >Ordre</label>
            <input type="number" class="form-control" name="ordreRegroupement"
                [(ngModel)]="regroupement.ordreRegroupement"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" >Code regroupement pays</label>
            <input type="number" class="form-control" name="codeRegroupPays"
                [(ngModel)]="regroupement.codeRegroupPays"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" >Type de regroupement</label>
        	<select class="form-control" name="codeTypeRegroupement" [(ngModel)]="regroupement.codeTypeRegroupement" >
                <option [ngValue]="null"></option>
                <option *ngFor="let typeRegroupementOption of typeRegroupements; trackBy: trackTypeRegroupementById" [ngValue]="typeRegroupementOption.codeTypeRegroupement" > {{typeRegroupementOption.libelleTypeRegroupement}} </option> 
            </select>
        </div>
      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Retour</span>
        </button>
        <button type="submit"class="btn btn-primary" [disabled]="editForm.form.invalid" > 
            <span class="fa fa-save"></span>&nbsp;<span>Enregistrer</span>
        </button>
    </div>
</form>

<!-- ******************************** Formulaire d'édition ******************************************* -->

<form name="editForm" novalidate (ngSubmit)="edit()" #editForm="ngForm" *ngIf="!mode" >

    <div class="modal-header">
        <h4 class="modal-title" id="typeNationaliteLabel" >Modifier un regroupement</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
    	<div class="form-group" [hidden]="!regroupement.codeRegroupement" >
    		<label> ID </label>
    		<input class="form-control" name="codeRegroupement" type="number"
    		[(ngModel)]="regroupement.codeRegroupement" readonly />
    	</div>
    	<div class="form-group">
            <label class="form-control-label">Libellé</label>
            <input type="text" class="form-control" name="libelleRegroupement"
                [(ngModel)]="regroupement.libelleRegroupement" />
        </div>
        <div class="form-group">
            <label class="form-control-label" >Ordre</label>
            <input type="number" class="form-control" name="ordreRegroupement"
                [(ngModel)]="regroupement.ordreRegroupement"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" >Code regroupement pays</label>
            <input type="number" class="form-control" name="codeRegroupPays"
                [(ngModel)]="regroupement.codeRegroupPays"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" >Type de regroupement</label>
        	<select class="form-control" name="codeTypeRegroupement" [(ngModel)]="regroupement.codeTypeRegroupement" >
                <option [ngValue]="null"></option>
                <option *ngFor="let typeRegroupementOption of typeRegroupements; trackBy: trackTypeRegroupementById" [ngValue]="typeRegroupementOption.codeTypeRegroupement" > {{typeRegroupementOption.libelleTypeRegroupement}} </option> 
            </select>
        </div>
      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Retour</span>
        </button>
        <button type="submit"class="btn btn-primary" [disabled]="editForm.form.invalid" > 
            <span class="fa fa-save"></span>&nbsp;<span>Enregistrer</span>
        </button>
    </div>
</form>