<div *ngIf="typeSexe">
    <h2><span >Sexe</span> {{typeSexe.libelleTypeSexe}}</h2>
    <hr>
    <dl class="row-md jh-entity-details">
        <dt><span>ID: </span></dt>
        <dd>
            <span> {{typeSexe.codeTypeSexe}}
            </span>
        </dd>

        <!-- <dt><span>Libellé: </span> </dt>
        <dd>
            <span>{{typeSexe.libelleTypeSexe}}</span>
        </dd> -->

        <dt><span>Ordre: </span> </dt>  
        <dd>
            <span>{{typeSexe.ordreTypeSexe}}</span>
        </dd>
    </dl>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Retour </span>
    </button>
</div>