<div>
	<div clas="row">
		<div class="col-md-8 right">
			
			<label> Chaine: </label>
			<select [(ngModel)]="codeTypeChaineLoc" 
				(ngModelChange)="getChaine($event)">
					<option [ngValue]="null"></option>
					<option *ngFor="let t of typeChaineLocs" [ngValue]="t.codeTypeChaineLoc">
						{{t.libelleTypeChaineLoc}}
					</option>
			</select> &nbsp;
			<div id="myTreeT"  #tree style="width:400px;border: 1px solid">
				<ejs-treeview [showCheckBox]="true" [fields]="treeF" (nodeChecked)="nodeChecked($event)"
				(nodeSelected)="nodeSelected($event)" [allowDragAndDrop]="false" [allowEditing]="false"></ejs-treeview>
			</div> &nbsp;
		</div>
		<div *ngIf ="etablissements" class="col-md-4 left" style="border: 1px solid">
				<ul>
					<li *ngFor="let e of etablissements">
						<span (click)="getCodeE(e)"> {{e.nomEtablissement}} </span>
					</li>
				</ul>
		</div>
	</div> <br>
	<div class="row">
		<div class="col-md-8 right">
			<label> Identifiant établissement:</label> <input type="number" name="codeEtablissement" [(ngModel)]="codeEtab" readonly> &nbsp;
			<label> Code administratif:</label> <input type="text" name="codeAdministratifEtablissement" [(ngModel)]="codeAdmEtab" readonly> &nbsp;
			<label> Système:</label> <select name="codeTypeStatut" [(ngModel)]="employeStatut.id.codeTypeStatut" >
	                	<option [ngValue]="fondamental"></option>
	                	<option *ngFor="let typeOption of typeStatuts" 
	                	[ngValue]="typeOption.codeTypeStatut" > {{typeOption.libelleTypeStatut}} </option> 
	            	</select> &nbsp;
			<label> Chaine de localisation:</label> <select name="codeTypeStatut" [(ngModel)]="employeStatut.id.codeTypeStatut" >
	                	<option [ngValue]="null"></option>
	                	<option *ngFor="let typeOption of typeStatuts" 
	                	[ngValue]="typeOption.codeTypeStatut" > {{typeOption.libelleTypeStatut}} </option> 
	            	</select> <br>
			<label> N° Matricule:</label> <input type="text" name="matriculeEmploye" [(ngModel)]="employes.matriculeEmploye" /> &nbsp;
	      	<label> Nom:</label> <input type="text" name="nomEmploye" [(ngModel)]="employes.nomEmploye" /> &nbsp;
	      	<label> Date d'engagement:</label> <input type="date"  name="dateEngEmploye" [(ngModel)]="employes.dateEngEmploye" />  &nbsp;
	      	
	      	<label> Satut: </label> <select name="codeTypeStatut" [(ngModel)]="employeStatut.id.codeTypeStatut" >
	                	<option [ngValue]="null"></option>
	                	<option *ngFor="let typeOption of typeStatuts" 
	                	[ngValue]="typeOption.codeTypeStatut" > {{typeOption.libelleTypeStatut}} </option> 
	            	</select> <br>
	      	<label> Pathologie:</label> <select name="codeTypePathologie" [(ngModel)]="employePathologie.id.codeTypePathologie">
	                	<option [ngValue]="null"></option>
	                	<option *ngFor="let typeOption of typePathologies" 
	                	[ngValue]="typeOption.codeTypePathologie" > {{typeOption.libelleTypePathologie}} </option> 
	            	</select> &nbsp;
	      	<label> Etat-civil:</label> <select name="codeTypeEtatCivil" [(ngModel)]="employeEtatCivil.id.codeTypeEtatCivil">
	                	<option [ngValue]="null"></option>
	                	<option *ngFor="let typeOption of typeEtatCivils" 
	                	[ngValue]="typeOption.codeTypeEtatCivil" > {{typeOption.libelleTypeEtatCivil}} </option> 
	            	</select> &nbsp;
	      	<label> Fonctions:</label> <select name="codeTypeFonction"[(ngModel)]="employeFonction.id.codeTypeFonction" >
	                	<option [ngValue]="null"></option>
	                	<option *ngFor="let typeOption of typeFonctions" 
	                	[ngValue]="typeOption.codeTypeFonction" > {{typeOption.libelleTypeFonction}} </option> 
	            	</select> &nbsp;
	      	<label> Diplômes:</label> <select name="codeTypeDiplome" [(ngModel)]="employeDiplome.id.codeTypeDiplome" >
	                	<option [ngValue]="null"></option>
	                	<option *ngFor="let typeOption of typeDiplomes" 
	                	[ngValue]="typeOption.codeTypeDiplome" > {{typeOption.libelleTypeDiplome}} </option> 
	            	</select> &nbsp;
	      	<label> Handicap:</label> <select name="codeTypeHandicap" [(ngModel)]="employeHandicap.id.codeTypeHandicap">
	                	<option [ngValue]="null"></option>
	                	<option *ngFor="let typeOption of typeHandicaps" 
	                	[ngValue]="typeOption.codeTypeHandicap" > {{typeOption.libelleTypeHandicap}} </option> 
	            	</select>
	        </div> <br>
	        <div class="col-md-4 left">
		      	<label>En poste: </label> <label>Oui:</label> <input type="radio" name="choice" value="poste" [(ngModel)]="choice" > &nbsp;
		      	<label>Non:</label> <input type="radio" name="choice" value="noposte" [(ngModel)]="choice" > &nbsp;
		      	 <label>Tout: </label> <input type="radio" name = "choice" value ="tout" [(ngModel)]="choice">&nbsp;
	      		<button type="reset" (click)="reset()" class="btn fa fa-refresh"></button>
	      		<button type="button" (click)= applySearch() class="btn fa fa-search"></button> 
	      	</div>
	</div> &nbsp;


	<!-- ******************************** Exemple avec Admin LTE data tables template ******************* -->
	<div class="box" *ngIf ="employees">
            <div class="box-header">
              <h3 class="box-title">Employés</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            	<div class="row">
            		<div class="col-sm-6 right">
            			<div fxLayout fxLayoutAlign="center center">
						  <!-- <button id="addToTable" class="btn btn-primary"  placement="bottom" [routerLink] = "['/employe-dialog']"> 
								<i class="fa fa-plus"></i>
							</button> -->
							<button class="on-default" (click)="exportAsExcel()">
								<i class="fa fa-file-excel-o" style="color:green"></i>
							</button>
							 <button class="on-default" (click)="exportAsPDF()">
							 	<i class="fa fa-file-pdf-o" style="color:red"></i>
							 </button>
						</div>
            		</div>
				</div>
	              	<table id="pdfTable" class="table table-bordered table-striped table-responsive">
	                	<thead>
		                	<tr>
			                  <th>N° Matricule</th>
			                  <th>Nom</th>
			                  <th>Prénom(s)</th>
			                  <th>Sexe</th>
	                  		  <th>Date de naissance</th>
			                  <th>Nationalité</th>
			                  <th>Fonction</th>
			                  <!-- <th>Pathologie</th>
							  <th>Diplômes</th>
							  <th>Handicaps</th> -->
							  <th>Etat matrimonial</th>
							  <th>Date d'engagement</th>
							  <th>Date de titularisation</th>
							  <th>Actions</th>
		                	</tr>
	                	</thead>
		                <tbody>
			                <tr *ngFor ="let emp of employees | paginate: { itemsPerPage: 10, currentPage: p }">
								<td>{{emp.matriculeEmploye}}</td>
								<td>{{emp.nomEmploye}}</td>
								<td>{{emp.prenomEmploye}}</td>
								<td>
										<select name="codeEmploye" [(ngModel)]="emp.codeTypeSexe" disabled>
											<option *ngFor="let t of typeSexes" [ngValue]="t.codeTypeSexe">
												{{t.libelleTypeSexe}}
											</option>
										</select>
									</td>
								<td>{{emp.dateNaissEmploye| date:'dd/MM/yyyy'}}</td>
								<td>
									<select name="codeEmploye" [(ngModel)]="emp.codeTypeNationalite" disabled>
										<option *ngFor="let t of typeNationalites" [ngValue]="t.codeTypeNationalite">
											{{t.libelleTypeNationalite}}
										</option>
									</select>
								</td>
								<td>
									<select name="codeEmploye" [(ngModel)]="emp.codeTypeFonction" disabled>
										<option *ngFor="let t of typeFonctions" [ngValue]="t.codeTypeFonction">
											{{t.libelleTypeFonction}}
										</option>
									</select>
								</td>
								<!-- <td>
									<select *ngIf="employePathologies" name="codeEmploye" [(ngModel)]="emp.codeEmploye" disabled>
										<option *ngFor="let t of typePathologies" [ngValue]="t.codeTypePathologie">
											{{t.libelleTypePathologie}}
										</option>
									</select>
								</td>
								<td>
									<select name="codeEmploye" [(ngModel)]="emp.codeEmploye" disabled>
										<option *ngFor="let t of typeDiplomes" [ngValue]="t.codeTypeDiplome">
											{{t.libelleTypeDiplome}}
										</option>
									</select>
								</td>
								<td>
									<select name="codeEmploye" [(ngModel)]="emp.codeEmploye" disabled>
										<option *ngFor="let t of typeHandicaps" [ngValue]="t.codeTypeHandicap">
											{{t.libelleTypeHandicap}}
										</option>
									</select>
								</td> -->
								<td>
									<select name="codeEmploye" [(ngModel)]="emp.codeTypeEtatCivil" disabled>
										<option *ngFor="let t of typeEtatCivils" [ngValue]="t.codeTypeEtatCivil">
											{{t.libelleTypeEtatCivil}}
										</option>
									</select>
								</td>
								<td>{{emp.dateEngEmploye | date:'dd/MM/yyyy'}}</td>
								<td>{{emp.dateTitEmploye | date:'dd/MM/yyyy'}}</td>
								<td class="actions">
									<a class="on-default" [routerLink] ="['/employe-detail', emp.codeEmploye, 're']"><i class="fa fa-eye"></i></a> &nbsp;
									<a class="on-default edit-row" [routerLink]="['/employe-dialog', emp]" ><i class="fa fa-pencil"></i></a> &nbsp;
									<a [swal]="deleteAd"> <i class="fa fa-trash-o"></i> </a>
									<swal #deleteAd title="Supprimer {{emp.nomEmploye}} {{emp.prenomEmploye}}?" text="Confirmer la suppression de l'élément"
										type="question" icon="warning" [showCancelButton]="true"
										[focusCancel]="true" (confirm)="deleteEmploye(emp.codeEmploye)">
									</swal>
								</td>
			                </tr>
		                </tbody>
		                <!-- <tfoot>
			                <tr>
			                  <th>N° Matricule</th>
			                  <th>Nom</th>
			                  <th>Prénom(s)</th>
			                  <th>Sexe</th>
	                  		  <th>Date de naissance</th>
			                  <th>Nationalité</th>
			                  <th>Fonction</th>
			                  <th>Pathologie</th>
							  <th>Diplômes</th>
							  <th>Handicaps</th>
							  <th>Etat matrimonial</th>
							  <th>Date d'engagement</th>
							  <th>Date de titularisation</th>
							  <th>Actions</th>
			                </tr>
		                </tfoot> -->
	              	</table>
            </div>
		</div>
		<div class="row" *ngIf="employees" style="text-align: center">
			<!-- pager -->
			<pagination-controls (pageChange)="p = $event"></pagination-controls>
		</div>
</div>