<div *ngIf="typeEtatCivil">
    <h2><span >Etat civil</span> {{typeEtatCivil.libelleTypeEtatCivil}}</h2>
    <hr>
    <dl class="row-md jh-entity-details">
        <dt><span>ID: </span></dt>
        <dd>
            <span> {{typeEtatCivil.codeTypeEtatCivil}}
            </span>
        </dd>

        <dt><span>Libellé: </span> </dt>
        <dd>
            <span>{{typeEtatCivil.libelleTypeEtatCivil}}</span>
        </dd>

        <dt><span>Ordre: </span> </dt>  
        <dd>
            <span>{{typeEtatCivil.ordreTypeEtatCivil}}</span>
        </dd>
    </dl>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Retour </span>
    </button>
</div>